@import url("header.css");
@import url("footer.css");

:root {
	--primary-dark-blue: #5886A7;

	--secondary-light-blue: #5aa5e5;

	--neutral-off-white: #f5f5f5;
	--neutral-light-gray: #c7c7c7;
	--neutral-dark-gray: #333333;

	font-size: 16px;
	font-family: Arial, sans-serif;
	color: var(--neutral-dark-gray);
	background-color: var(--neutral-off-white);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
	flex: 1;
}